@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-light: #ffffff;
    --bg-dark: #212121;
    --violet: #7541c8;
    --blue-grey: #48556a;
    --dark-blue: #19212e;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: .813rem;
    line-height: 1.3;
    background: var(--bg-light);
}

.container {
    max-width: 1440px;
    margin: 100px auto;
    padding: 20px;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background: var(--bg-dark);
    }
}