@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-light: #ebeceb;
    --bg-dark: #141414;
    --card-bg-light: #fff;
    --card-bg-dark: #dbdbdb;
    --card-border: #996ed9;
    --violet: hsl(263, 55%, 52%);
    --blue-grey: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --font: hsl(0, 0%, 100%);
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: .813rem;
    line-height: 1.3;
    background: var(--bg-light);
    cursor: default;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin: 100px auto;
    padding: 20px;
    max-width: 1440px;
}

.main .card:nth-of-type(1) {
    grid-column: 1/3;
}

.main .card:nth-of-type(4) {
    grid-column: 2/4;
    grid-row: 2/3;
}

.main .card:nth-of-type(5) {
    grid-column: 4/5;
    grid-row: 1/3;
}

.main .card {
    padding: 50px;
    border-radius: 15px;
    background: var(--card-bg-light);
}

.main .violet-card {
    background-image: url(./img/bg-pattern-quotation.svg);
    background-position: top .5px right 90px;
    background-size: 9rem;
    background-repeat: no-repeat;
    background-color: var(--violet);
    color: var(--font);
}

.main .grey-card {
    background: var(--blue-grey);
    color: var(--font);
}

.main .dark-blue-card {
    background: var(--dark-blue);
    color: var(--font);
}

.main header {
    display: flex;
    align-items: center;
    margin: 0 0 20px 15px;
}

.main img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.main .border {
    border: solid 2.5px var(--card-border);
}

.main h3, 
.main p {
    margin-left: 1.2rem;
}

.main header h3 {
    font-size: .95rem;
    text-transform: capitalize;
    letter-spacing: .5px;
}

.main header p {
    text-transform: capitalize;
    opacity: 50%;
}

.main .title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 15px;
}

.main .content {
    font-size: .938rem;
    font-weight: 600;
    line-height: 1.2;
    opacity: 50%;
}

footer {
    text-align: center;
    font-size: .95rem;
    margin-bottom: 15px;
}

footer a {
    color: var(--violet);
    text-decoration: none;
}

footer a:visited {
    color: var(--card-border);
}

@media screen and (max-width: 375px) {
    .main {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .main .card:nth-of-type(1) {
        grid-column: 1/2;
    }
    .main .card:nth-of-type(4) {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .main .card:nth-of-type(5) {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .main .violet-card {
        background-position: top .5px right 25px;
    }
    footer {
        font-size: .85rem;
    }
}
@media screen and (prefers-color-scheme: dark) {
    body {
        background: var(--bg-dark);
    }
    .main .card:nth-of-type(3),
    .main .card:nth-of-type(5) {
        background: var(--card-bg-dark);
    }
    footer {
        color: var(--font);
    }
}